@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    111 Lafayette Road<br />
    Apt. 410, Syracuse, NY 13205<br />
    <abbr title="Phone">Phone:</abbr>
    +1.315.450.5840
</address>

<address>
    <strong>Email:</strong> <a href="mailto:dxu103@syr.edu">dxu103@syr.edu</a> &nbsp
    <a href="mailto:datanxu@gmail.com">datanxu@gmail.com</a>
</address>
